body {
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

/***********************************************************/




/**************************************************************/




@media screen and (max-width: 1200px){
    .form .error{
        margin-left: 350px;
    }
}
@media screen and (max-width: 1100px){
    .form .error{
        margin-left: 300px;
        
    }
}
@media screen and (max-width:1000px) {
    .form span {
        left: 12%;
    }
    .form .error{
            margin-left: 60%;
    }
      
    
}

@media screen and (max-width:800px) {
   
    .form .error{
        margin-left: 50%;
        
    }
}

@media screen and (max-width:600px) {
    .form span {
        left: 14%;
    }
    
}