body {
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/******************appInventory - Vista Modificar*****************************************/





/****************************************************************************************/

