body {
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/*****************************************************************************************/
.preloader{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}
.hidden{
    overflow: hidden;
}



/****************************************************************************************/

